.container {
  display: block;
}

.header {
  background-color: #27ade3;
  text-align: left;
  

  h2, h5 {
    color: white;
    font-weight: bold;
    margin-bottom: 0px;
    padding: 10px 20px;
    text-transform: uppercase;
  }
}

.header-actions {
  font-weight: bold;
  font-size: 18px;
  .data {
    display: flex;
    justify-content: space-between;
    padding: 30px 10% 20px 10%;
  
    svg {
      vertical-align: bottom;
      color: #27ade3;
    }
  }
}

.title {
  background-color: #27ade3;
  color: white;
  font-size: 26px;
  padding: 7px;
  padding-left: 20px;
  text-align: left;
}

.subTitle {
  display: flex;
  color: gray;
  font-size: 18px;
  margin-top: -10px;
}

.place {
  width: 50%;
  text-align: left;
}

.charge {
  display: flex;
  font-size: 20px;
  font-weight: bold;
  margin: 10px 0px;
}

.time {
  width: 50%;
  text-align: right;
}

.link {
  text-decoration: none;
  color: black;
}

.description {
  margin-top: 0px;
  margin-bottom: 5px;
  text-align: justify;
}
